<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.smedialink.abakarmagomedov.dk_camp_mirror">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".StartActivity"/>
        <activity android:name=".SignUpActivity"/>

        <activity android:name=".ChoiceActivity"
                  android:parentActivityName=".StartActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.smedialink.abakarmagomedov.dk_camp_mirror.StartActivity"/>
        </activity>

        <activity
            android:name=".LogInActivity"
            android:parentActivityName=".ChoiceActivity"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.smedialink.abakarmagomedov.dk_camp_mirror.ChoiceActivity"/>
        </activity>

        <activity android:name=".HowedMenuActivity"/>
        <activity android:name=".ProfilActivity"/>

        <activity android:name=".DigitaltIdActivity"
                  android:parentActivityName=".HowedMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.smedialink.abakarmagomedov.dk_camp_mirror.HowedMenuActivity"/>
        </activity>

        <activity android:name=".FordeleActivity"
                  android:parentActivityName=".HowedMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.smedialink.abakarmagomedov.dk_camp_mirror.HowedMenuActivity"/>

        </activity>

        <activity android:name=".OplevelserActivityFirst"
                  android:parentActivityName=".FordeleActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FordeleActivity"/>
        </activity>
        <activity android:name=".OpleveslerActivitySecond"
                  android:parentActivityName=".OplevelserActivityFirst">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".OpleveslerActivitySecond"/>

        </activity>
        <activity
            android:name=".SpilOgVilActivity"
            android:parentActivityName=".HowedMenuActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.smedialink.abakarmagomedov.dk_camp_mirror.HowedMenuActivity"/>
        </activity>
        <activity android:name=".MinProfilActivity"
                  android:parentActivityName=".HowedMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.smedialink.abakarmagomedov.dk_camp_mirror.HowedMenuActivity"/>
        </activity>
    </application>

</manifest>